.container{
    width: 1000px;
    height: 250px;
}

.left{
    width: 75%;
    height: 100%;
    background: violet;
    float: left;
}

.profile{
    width: auto;
    height: 22%;
    background-color: aqua;
    margin: 2%;
}

.profileright{
    width: auto;
    height: 100%;
    background-color: saddlebrown;
    float: left;
}

.profile1{
    width: auto;
    height: 100%;
    float: left;
    font-size: 20px;
    vertical-align: top;
}

.profile2{
    width: auto;
    height: 40%;
    float: left;
    margin: 0.5%;
    font-size: 10px;
}

.contents{
    width: auto;
    height: 58%;
    background: slateblue;
    margin: 2%;

}

.title{
    font-weight: 200;
}

.detail{
    vertical-align: top;
    font-weight: 200;
}

.thumbnail{
    width: 25%;
    height: 100%;
    background-color: aliceblue;
    float: right;
    vertical-align: top;
}

.center{
    display: block;
    margin: 6%;
    width: 88%;
  }

p{
    color: black;
    font-size: 18px;
}

.rounded{
    object-fit: cover;
    border-radius: 50%;
    height: 100%;
    float: left;
}